<div class="pa-4 table-style-1" rounded="lg">
    <div class="d-flex flex-column flex-sm-row align-start align-md-start ga-3 mb-4">
        <div class="d-flex flex-column flex-sm-row align-center ga-3">
            <span class="text-h6 me-4">Danh sách Chi nhánh</span>
            <v-btn color="primary" @click="goToCreate" class="btn-primary" prepend-icon="mdi-account-plus">
                <span class="d-none d-sm-inline">Thêm Chi nhánh Mới</span>
                <span class="d-inline d-sm-none">Thêm</span>
            </v-btn>
            <v-btn-toggle v-model="statusFilter" class="mt-3 mt-sm-0" color="orange-darken-3" mandatory>
                <v-btn value="all" variant="outlined" size="small">Tất cả</v-btn>
                <v-btn value="active" variant="outlined" size="small">Hoạt động</v-btn>
                <v-btn value="inactive" variant="outlined" size="small">Ngừng hoạt động</v-btn>
            </v-btn-toggle>
        </div>
    </div>
    <div class="pa-0 pa-sm-4">
        <v-skeleton-loader v-if="loading" type="table" class="mx-auto"></v-skeleton-loader>
        <!-- Desktop: Data Table -->
        <template v-else-if="!isMobile">
            <v-data-table :headers="headers" :items="filteredBranches" item-value="branchId" class="elevation-1"
                :loading="loading" loading-text="Đang tải dữ liệu..." no-data-text="Không tìm thấy chi nhánh"
                hide-default-footer :items-per-page="pageSize" density="comfortable">

                <template v-slot:item.stt="{ index }">
                    <span>{{ index + 1 }}</span>
                </template>

                <template v-slot:item.branchName="{ item }">
                    <div class="d-flex flex-column">
                        <div>{{ item.branchName }}</div>
                        <v-chip v-if="item.branchCode" color="text-grey-lighten-1" :text="`Mã: ${item.branchCode}`"
                            size="x-small" class="mt-1 text-truncate" style="max-width: fit-content;">
                        </v-chip>
                    </div>
                </template>

                <template v-slot:item.address="{ item }">
                    <div class="d-flex flex-column">
                        <div>{{ item.address }}</div>
                        <div>{{ item.city }}</div>
                    </div>
                </template>

                <template v-slot:item.isActive="{ item }">
                    <div>
                        <v-chip v-if="item.isActive" color="success" size="small" dark>Hoạt động</v-chip>
                        <v-chip v-else outlined color="grey" size="small">Ngừng</v-chip>
                    </div>
                </template>

                <template v-slot:item.isMainBranch="{ item }">
                    <v-chip v-if="item.isMainBranch" color="primary" size="small">Chính</v-chip>
                    <span v-else>-</span>
                </template>

                <!--Cột Hành động (Edit/Delete)-->
                <template v-slot:item.actions="{ item }">
                    <div class="d-flex ga-1 justify-end">
                        <v-tooltip v-if="item.isActive" location="top" text="Ngừng hoạt động">
                            <template v-slot:activator="{ props }">
                                <v-btn v-bind="props" icon variant="text" color="warning" size="small"
                                    @click="toggleActive(item)">
                                    <v-icon>mdi-power</v-icon>
                                </v-btn>
                            </template>
                        </v-tooltip>
                        <v-tooltip v-else location="top" text="Kích hoạt">
                            <template v-slot:activator="{ props }">
                                <v-btn v-bind="props" icon variant="text" color="success" size="small"
                                    @click="toggleActive(item)">
                                    <v-icon>mdi-power-plug</v-icon>
                                </v-btn>
                            </template>
                        </v-tooltip>
                        <v-tooltip location="top" text="Chỉnh sửa">
                            <template v-slot:activator="{ props }">
                                <v-btn v-bind="props" icon="mdi-pencil" variant="text" color="info" size="small"
                                    @click="goToEdit(item.branchId)"></v-btn>
                            </template>
                        </v-tooltip>
                        <v-tooltip location="top" text="Xóa">
                            <template v-slot:activator="{ props }">
                                <v-btn v-bind="props" icon="mdi-delete" variant="text" color="error" size="small"
                                    @click="confirmDelete(item)"></v-btn>
                            </template>
                        </v-tooltip>
                    </div>
                </template>
            </v-data-table>
            <!-- Desktop Pagination -->
            <pagination-comp v-model:currentPage="currentPage" v-model:pageSize="pageSize" :total-items="totalItems"
                :page-size-options="pageSizeOptions"></pagination-comp>
        </template>

        <!-- Mobile: Card Layout -->
        <template v-else>
            <div v-if="filteredBranches.length > 0" class="branch-cards-container">
                <v-card v-for="(branch, index) in filteredBranches" :key="branch.branchId" class="mb-3 branch-card"
                    elevation="2" rounded="lg">
                    <v-card-text class="pa-4">
                        <div class="d-flex justify-space-between align-start mb-3">
                            <div class="flex-grow-1">
                                <v-chip color="primary" size="small" class="mr-2">
                                    #{{ index + 1 }}
                                </v-chip>
                                <h3 class="branch-name mb-1">{{ branch.branchName }}</h3>
                                <div class="branch-code-mobile mb-2">{{ branch.branchCode }}</div>

                            </div>
                            <div class="d-flex ga-1 ml-2">
                                <v-btn icon="mdi-pencil" variant="text" color="info" size="small"
                                    @click="goToEdit(branch.branchId)"></v-btn>
                                <v-btn icon="mdi-delete" variant="text" color="error" size="small"
                                    @click="confirmDelete(branch)"></v-btn>
                            </div>
                        </div>

                        <div class="branch-details">
                            <div v-if="branch.address" class="d-flex align-center mb-2">
                                <v-icon icon="mdi-map-marker" size="small" class="mr-2 text-grey-darken-1"></v-icon>
                                <span class="text-body-2">{{ branch.address }} - {{branch.city}}</span>
                            </div>
                            <div v-if="branch.email" class="d-flex align-center mb-2">
                                <v-icon icon="mdi-email" size="small" class="mr-2 text-grey-darken-1"></v-icon>
                                <span class="text-body-2">{{ branch.email }}</span>
                            </div>
                            <div v-if="branch.phone" class="d-flex align-center">
                                <v-icon icon="mdi-phone" size="small" class="mr-2 text-grey-darken-1"></v-icon>
                                <span class="text-body-2">{{ branch.phone }}</span>
                            </div>
                        </div>
                    </v-card-text>
                </v-card>
            </div> <!-- No data message for mobile -->
            <v-card v-else elevation="1" class="text-center pa-8">
                <v-icon icon="mdi-account-search" size="64" class="text-grey-lighten-1 mb-4"></v-icon>
                <p class="text-h6 text-grey-darken-1 mb-2">Không tìm thấy chi nhánh</p>
                <p class="text-body-2 text-grey-darken-1">Thử thay đổi từ khóa tìm kiếm hoặc thêm chi nhánh mới</p>
            </v-card>

            <!-- Mobile Pagination -->
            <pagination-comp v-model:currentPage="currentPage" v-model:pageSize="pageSize" :total-items="totalItems"
                :page-size-options="pageSizeOptions"></pagination-comp>
        </template>
    </div>

    <!-- Message Dialog for confirmations and notifications -->
    <message-dialog v-model="showDialog" :type="dialogConfig.type" :title="dialogConfig.title"
        :message="dialogConfig.message" :show-cancel="dialogConfig.showCancel" :loading="dialogConfig.loading"
        :ok-text="dialogConfig.okText" :cancel-text="dialogConfig.cancelText" @ok="dialogConfig.onOk"
        @cancel="dialogConfig.onCancel">
    </message-dialog>
</div>