<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dental Clinic</title>    
    <link rel="stylesheet" href="~/lib/vuetify/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/css/manage/site.min.css" />
    <link rel="stylesheet" href="~/css/manage/mobile-table.css" />
    <link rel="stylesheet" href="~/css/manage/breadcrumb.css" />

</head>
<body>
    <div id="dental-manage-app">
        <v-app>
            <v-main class="d-flex align-center justify-center">
                <router-view></router-view>
            </v-main>
        </v-app>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.js"></script>
    <script src="~/lib/vuetify/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="module" src="~/js/manage/site.js"></script>
</body>
</html>